.helper {
  position: fixed;
  left: calc(100% - 25px);
  top: 50%;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  width: 155px;
  height: 25px;
  color: #fff;
  font-size: 12px;
  background-color: var(--color-primary);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  & span {
    margin-left: 3px;
    font-size: 14px;
  }
}
