.header {
  flex-shrink: 0;
  background-color: #fff;

  &__container {
    position: relative;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 23px;
    padding-inline: 9px;
    padding-bottom: 11px;
    background-color: #fff;
    z-index: 5;
  }

  &__burger {
    display: none;

    @media (max-width: $mobileMedium) {
      display: block;
      position: relative;
      width: 30px;
      height: 23px;
      background-color: transparent;
      cursor: pointer;
      z-index: 5;

      &::before,
      &::after {
        content: '';
      }

      span,
      &::before,
      &::after {
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        transition-timing-function: $transitionBase;
      }

      span {
        transition-delay: 150ms;
        top: calc(50% - 1px);
      }

      &::before {
        top: 0;
        transition: top 150ms 150ms, transform 150ms;
      }

      &::after {
        bottom: 0;
        transition: bottom 150ms 150ms, transform 150ms;
      }

      &--active {
        span {
          opacity: 0;
        }

        &::before {
          top: calc(50% - 2px);
          transform: rotate(-45deg);
          transition: top 150ms, transform 150ms 150ms;
        }

        &::after {
          bottom: calc(50% - 2px);
          transform: rotate(45deg);
          transition: bottom 150ms, transform 150ms 150ms;
        }
      }
    }
  }
}

// main nav
.main-nav {
  background-color: #f6f6f6;

  & ul {
    display: flex;
    margin-left: auto;
    width: fit-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;

    & li {
      &:not(:last-child) {
        border-right: 1px solid #fff;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 35px;
    text-transform: uppercase;
    color: #fff;
    background-color: #b8b8b8;

    &--current {
      background-color: var(--color-primary);
      pointer-events: none;
    }
  }
}

// navigation
.menu {
  margin-left: 150px;

  @media (max-width: $mobileMedium) {
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    padding: 110px 15px 50px 15px;
    width: 100%;
    height: 100%;
    background-color: #1e6091;
    transition: left 300ms $transitionBase;
    overflow: auto;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 52px;
      background-color: var(--color-primary);
    }

    &--active {
      left: 0;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
    min-height: 114px;
  }

  &__list {
    display: flex;
    gap: 43px;

    @media (max-width: $mobileMedium) {
      flex: 1 1 auto;
      flex-direction: column;
      align-items: flex-end;
      font-size: 32px;
    }
  }

  &__link {
    display: flex;
    color: #676767;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 300ms $transitionBase;

    &:hover:not(.menu__link--current) {
      color: var(--color-secondary);
    }
  }
}

.header-control {
  display: flex;
  align-items: center;

  &__label {
    display: block;
    position: relative;
    margin-right: 28px;
    max-width: 240px;

    & svg {
      position: absolute;
      top: 50%;
      left: 19px;
      transform: translateY(-50%);
    }
  }

  &__input {
    padding-left: 43px;
    padding-right: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid #b8b8b8;
    border-radius: 100px;
    outline: 2px solid transparent;

    &:focus {
      outline-color: var(--color-primary);
    }

    &::placeholder {
      opacity: 0.8;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 9px;
    color: #7e7e7e;
    background: none;

    &--cart {
      margin-right: 34px;
    }
  }
}
