<section class="hero">
  <div class="hero__container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero-swiper__slide">
          <img src="./images/Home/waffles.png" alt="waffles" />

          <div class="hero-swiper__content">
            <div class="hero-swiper__details">
              <h2>PEARL SUGAR</h2>
              <p>
                But I must explain to you how all this mistaken idea of
                denouncing pleasure and praising pain was born and I will give
                you a complete account of the system, and expound.
              </p>
              <button class="hero-swiper__button" type="button">
                Shop now
                <svg width="7" height="12">
                  <use href="./images/icons.svg#icon-chevron-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero-swiper__slide">
          <img src="./images/Home/waffles.png" alt="waffles" />

          <div class="hero-swiper__content">
            <div class="hero-swiper__details">
              <h2>PEARL SUGAR</h2>
              <p>
                But I must explain to you how all this mistaken idea of
                denouncing pleasure and praising pain was born and I will give
                you a complete account of the system, and expound.
              </p>
              <button class="hero-swiper__button" type="button">
                Shop now
                <svg width="7" height="12">
                  <use href="./images/icons.svg#icon-chevron-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero-swiper__slide">
          <img src="./images/Home/waffles.png" alt="waffles" />

          <div class="hero-swiper__content">
            <div class="hero-swiper__details">
              <h2>PEARL SUGAR</h2>
              <p>
                But I must explain to you how all this mistaken idea of
                denouncing pleasure and praising pain was born and I will give
                you a complete account of the system, and expound.
              </p>
              <button class="hero-swiper__button" type="button">
                Shop now
                <svg width="7" height="12">
                  <use href="./images/icons.svg#icon-chevron-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero-swiper__slide">
          <img src="./images/Home/waffles.png" alt="waffles" />

          <div class="hero-swiper__content">
            <div class="hero-swiper__details">
              <h2>PEARL SUGAR</h2>
              <p>
                But I must explain to you how all this mistaken idea of
                denouncing pleasure and praising pain was born and I will give
                you a complete account of the system, and expound.
              </p>
              <button class="hero-swiper__button" type="button">
                Shop now
                <svg width="7" height="12">
                  <use href="./images/icons.svg#icon-chevron-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination hero-swiper-pagination"></div>
    </div>
  </div>
</section>
