<section class="products">
  <div class="products__container">
    <div class="tabs">
      <div class="tabs__header">
        <div class="tabs__header-item tabs__header-item--active">
          HOME BAKER
        </div>
        <div class="tabs__header-item">
          <img src="./images/Home/chef.png" alt="chef icon" />
          PROFESSIONAL
        </div>
      </div>

      <div class="tabs__content">
        <div class="tabs__content-item">
          <div class="swiper swiper-prod">
            <div class="swiper-wrapper">
              {% for product in products %}
              <div class="swiper-slide product">
                {% if product.sale %}
                <div class="product__sale">{{ product.sale }}</div>
                {% endif %}

                <button class="product__favorite" type="button">
                  <svg width="30" height="27">
                    <use href="./images/icons.svg#icon-heart"></use>
                  </svg>
                </button>

                <img src="{{ product.image }}" alt="product image" />

                <div class="product__content">
                  <h3 class="product__title">HVD-A57-Liege-Waffle-Iron</h3>

                  <div class="product__aftertitle">
                    <h4>model wedceat</h4>
                    <p>$1,800,00</p>
                  </div>

                  <div class="product__rating">
                    <div>
                      <svg width="120" height="21">
                        <use href="./images/icons.svg#icon-rating"></use>
                      </svg>
                      <span>(34)</span>
                    </div>
                    <p>$1,401,60</p>
                  </div>

                  <div class="product__control">
                    <div>
                      <p>Buy 4 or more $1,200,00</p>
                      <p>Limit 10 per order</p>
                    </div>

                    <button type="button">
                      <svg width="27" height="27">
                        <use href="./images/icons.svg#icon-cart"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="swiper-button-prev swiper-prod-button-prev">
            <svg width="35" height="35">
              <use href="./images/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-button-next swiper-prod-button-next">
            <svg width="35" height="35">
              <use href="./images/icons.svg#icon-next"></use>
            </svg>
          </div>
        </div>
        <div class="tabs__content-item">CONTENT 2</div>
      </div>
    </div>
  </div>
</section>
